In [4]:
import matplotlib.pyplot as plt
import pymysql
import pandas as pd
import numpy as np

#先处理爬取数据
#engine = create_engine('mysql+pymysql://root:Yxh900512@localhost/CNN?charset= utf-8')
df = pd.read_csv('CNN-business.csv',encoding='utf-8')
#df = df.drop_duplicates(keep='first',inplace=False)
df.drop_duplicates
df['Type']

0       ['article']
1       ['article']
2       ['article']
3       ['article']
4       ['article']
5       ['article']
6       ['article']
7       ['article']
8       ['article']
9       ['article']
10      ['article']
11      ['article']
12      ['article']
13      ['article']
14      ['article']
15      ['article']
16      ['article']
17        ['video']
18      ['article']
19      ['article']
20      ['article']
21      ['article']
22      ['article']
23      ['article']
24      ['article']
25      ['article']
26      ['article']
27      ['article']
28        ['video']
29      ['article']
           ...
4973    ['article']
4974    ['article']
4975    ['article']
4976    ['article']
4977      ['video']
4978    ['article']
4979    ['article']
4980    ['article']
4981    ['article']
4982    ['article']
4983    ['article']
4984    ['article']
4985      ['video']
4986      ['video']
4987    ['article']
4988    ['article']
4989    ['article']
4990    ['article']
4991    ['article']
4992    ['article']
4993      ['video']
4994    ['article']
4995    ['article']
4996    ['article']
4997    ['article']
4998    ['article']
4999      ['video']
5000    ['article']
5001      ['video']
5002      ['video']
Name: Type, Length: 5003, dtype: object